.sla > * {
  alignment: left;
  font-size: 16px;
  line-height: 4px;
  margin: 16px;
}
.small-card {
  all: unset;
  border-radius: 20px;
  border: 2px solid #eee;
  background-color: rgba(122, 117, 133, 0.32);
  height: 20px;
  width: 100px;
  margin: 0 8px 16px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.head > * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  line-height: 30px;
  color: #5ca9a9;
}

.center-me > * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-me > * {
  font-size: 18px;
  line-height: 4px;
  margin: 16px 16px 16px 16px;
  color: #ffedbf;
}

a {
  color: #a18744;
}
a:link {
  text-decoration: none;
}
a:visited {

}

.fees {
  color: #bfe5ff;
}

.margin-left-20 {
  margin-left: 20px;
}
.margin-left-40 {
  margin-left: 40px;
}
.margin-left-60 {
  margin-left: 60px;
}

.arrange-horizontal > * {
  display: inline-block;
}

b {

}
h1 {

  margin: 2px 2px 2px 2px;
}
h2 {

}
h3 {
  color: #ffedbf;
}
h4 {

}
h5 {

}



