<div class="consulting">
  <p><b>Consulting</b></p>

  <h1>Consulting, Support, and Tech Lessons</h1>
  <div class="fees">
    <h2>Fees;</h2>
    <p>Diagnostic fee: $20</p>
    <p>General Hourly Rate: $50/hr</p>
    <p>Rapid response fee: $30</p>
  </div>

  <div class="sla">
    <h3>SLA</h3>
    <p></p>
    <p></p>
    <p></p>
  </div>

  <div class="sla">
    <h3>Rapid Response;</h3>
    <p>Same day drop off and pickup</p>
    <p>48 Hour Diagnostic</p>
    <p></p>
    <p></p>
    <p></p>
  </div>

  <div class="sla">
    <h3>Normal Response;</h3>
    <p>48 hour drop off and pickup</p>
    <p>72 Hour Diagnostic</p>
    <p></p>
    <p></p>
    <p></p>
  </div>

  <div class="sla">
    <h3></h3>
    <p></p>
  </div>

</div>

