<div>
  <div class="head">
    <h1>Consulting and Support</h1>
  </div>
</div>

<div>
  <div class = "contact-me">
    <h4>Appointment Only!</h4>

  </div>
</div>

  <div class="margin-left-20">
    <div class="fees">
      <h2><b>Fees;</b></h2>
      <p>Diagnostic fee: $20</p>
      <p>General Hourly Rate: $50/hr</p>
      <p>Rapid response fee: $30</p>
      <p>Pickup fee: $20</p>
    </div>
  </div>

<div class="margin-left-40">
  <div class="arrange-horizontal">

    <div class="sla">
      <h3><b>Rapid Response;</b></h3>
      <p>Drop off and pickup within 24 Hours</p>
      <p>Diagnostic begins within 48 Hours</p>
      <p></p>
      <p></p>
      <p></p>
    </div>

    <div class="sla">
      <h3><b>Normal Response;</b></h3>
      <p>Drop off and pickup within 48 Hours</p>
      <p>Diagnostic begins within 72 Hours</p>
      <p></p>
      <p></p>
      <p></p>
    </div>

    <div class="sla">
      <h3></h3>
      <p></p>
    </div>

  </div>
</div>
<div class="center-me">
  <div class="contact-me"><a routerLink="/contact" >Contact US!</a></div>
</div>
