.fees {
  color: #bfe5ff;
}
b {

}
h1 {

}
h2 {

}
h3 {
  color: #ffedbf;
}
h4 {

}
h5 {

}

.sla > * {
  alignment: left;
  font-size: 16px;
  line-height: 4px;
  margin: 16px;
}
.arrange-horizontal > * {
  display: inline-block;
}
