<!DOCTYPE html>
<html>
<head>
  <title>Koonts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




</head>



<body>

<!-- Navbar (sit on top) -->
<div class="fx-top">
  <div class="fx-bar" id="myNavbar">
    <a class="fx-bar-item fx-button fx-hover-black fx-hide-medium fx-hide-large fx-right" href="javascript:void(0);" (click)="viewMiniBar()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="fx-bar-item fx-button menu">HOME </a>
    <a href="#about" class="fx-bar-item fx-button fx-hide-small menu"><i class="fa fa-user"></i> ABOUT</a>
    <a href="#portfolio" class="fx-bar-item fx-button fx-hide-small"><i class="fa fa-th"></i> PORTFOLIO</a>
    <a href="#contact" class="fx-bar-item fx-button fx-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>

  </div>

  <!-- Navbar on small screens -->
  <div *ngIf="minibar" id="navDemo" class="fx-show fx-bar-block fx-white fx-hide fx-hide-large fx-hide-medium">
    <a href="#about" class="fx-bar-item fx-button" (click)="closeMiniBar()">ABOUT</a>
    <a href="#portfolio" class="fx-bar-item fx-button" (click)="closeMiniBar()">PORTFOLIO</a>
    <a href="#contact" class="fx-bar-item fx-button" (click)="closeMiniBar()">CONTACT</a>
  </div>
</div>



<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 fx-display-container fx-opacity-min" id="home">
  <div class="fx-display-middle" style="white-space:nowrap;">
    <span class="fx-center fx-padding-large fx-black fx-xlarge fx-wide fx-animate-opacity">James <span class="fx-hide-small">F</span> Koonts</span>
  </div>
</div>



<!-- Container (About Section) -->
<div class="fx-content fx-container fx-padding-64" id="about">

  <div class="bgimg-2 fx-display-container fx-opacity-min">
    <div class="fx-display-middle">
      <span class="fx-xxlarge fx-text-white fx-wide">About Me</span>
    </div>
  </div>


  <p class="fx-center"><em>I'm just happy to be here</em></p>

  <div class="fx-row">
    <div class="fx-col m6 fx-padding-large">
      <img src="/assets/atlas1.jpg" width="250" class="fx-round fx-image fx-opacity fx-hover-opacity-off" alt="Photo of Me">
<!--      <br><em>one of my cats, Atlas</em>-->
    </div>

    <!-- Hide this text on small devices -->
    <div class="fx-col m6">
      <p>Originating from the Great Lakes area of Western New York, at a young age I became wildly
        interested in computers and how they worked. My greatest curiosities were in how operating systems, programs and malware worked.
        Many evenings were spent exploring development forums for code to play with.</p>

      <p>Around middle school I discovered and I fell in love with Linux and FOSS.
        Even after having to learn how to manually compile kernel modules to get my NVidia graphics and Broadcom wifi drivers working.</p>

      <p>Soon thereafter, I was encompassed by the world of offensive security and software development.
        My favorite languages being Java and Rust. </p>

      <div class="resume">
        <div *ngIf="!portfolio"><button (click)="viewPortfolio()" class="fx-button fx-padding-large fx-light-grey" style="margin-top:64px">Load Resume</button></div>
        <div *ngIf="portfolio"><button (click)="closePortfolio()" class="fx-button fx-padding-large fx-light-grey" style="margin-top:64px">CLOSE</button></div>
      </div>
    </div>

    <div class="resume" *ngIf="portfolio">
      <iframe width="100%" height="600" src="https://docs.google.com/document/d/e/2PACX-1vSVK9ys5TeVxGbI2zyTlK72pza257r5fAE9giFHjuDQpCR3yhNSR3M3bMWf5S3ASUyDrRSq96t_4gmy/pub?embedded=true"></iframe>
    </div>
  </div>


  <br>


  <div class="technologies fx-container m3">
    <!--https://github.com/marwin1991/profile-technology-icons#-java -->
    <br><p class="fx-large fx-center fx-padding-16">Technologies I enjoy:</p><br>
    <!--//arch-->
    <img style="padding: 10px" src="https://user-images.githubusercontent.com/25181517/186884156-e63da389-f3e1-4dca-a6c1-d76e886ba22a.png" height="90" width="90">
    <!--//intellij-->
    <img style="padding: 10px" src="https://user-images.githubusercontent.com/25181517/121302773-7aa5d680-c8fa-11eb-98aa-e016fdb2de32.png" height="90" width="90">
    <!--//Java-->
    <img style="padding: 10px" src="https://user-images.githubusercontent.com/25181517/117201156-9a724800-adec-11eb-9a9d-3cd0f67da4bc.png" height="90" width="90">
    <!--//rust-->
    <img style="padding: 10px" src="https://user-images.githubusercontent.com/25181517/192599922-3a8ceb1c-ff1d-40bc-b73c-99ea1182d8ad.png" height="90" width="90">
    <!--//python-->
    <img style="padding: 10px" src="https://user-images.githubusercontent.com/25181517/183423507-c056a6f9-1ba8-4312-a350-19bcbc5a8697.png" height="90" width="90">
    <!--//Angular-->
    <img style="padding: 10px" src="https://user-images.githubusercontent.com/25181517/183890595-779a7e64-3f43-4634-bad2-eceef4e80268.png" height="90" width="90">


    <br>
    <!--//Gradle-->
    <img style="padding: 10px" src="https://dwglogo.com/wp-content/uploads/2017/12/Gradle_logo_01.png" height="90" width="120">
    <!--//docker-->
    <img style="padding: 10px" src="https://user-images.githubusercontent.com/25181517/117207330-263ba280-adf4-11eb-9b97-0ac5b40bc3be.png" height="90" width="90">
    <!--//Spring-->
    <img style="padding: 10px" src="https://user-images.githubusercontent.com/25181517/117201470-f6d56780-adec-11eb-8f7c-e70e376cfd07.png" height="90" width="90">
    <!--//Springboot-->
    <img style="padding: 10px" src="https://user-images.githubusercontent.com/25181517/183891303-41f257f8-6b3d-487c-aa56-c497b880d0fb.png" height="90" width="90">
    <!--//flask-->
    <img style="padding: 10px" src="https://user-images.githubusercontent.com/25181517/183423775-2276e25d-d43d-4e58-890b-edbc88e915f7.png" height="90" width="90">
    <!--//Android-->
    <img style="padding: 10px" src="https://user-images.githubusercontent.com/25181517/117269608-b7dcfb80-ae58-11eb-8e66-6cc8753553f0.png" height="90" width="90">
  </div>
</div>




<!-- Container (Portfolio Section) -->
<div class="fx-content fx-container fx-padding-64" id="portfolio">
  <p class="fx-center"><em>Here is some of my work</em></p><br>
  <div class="fx-container fx-row-padding">
    <div class="fx-col m3">
      <a href="https://github.com/helloimalemur"><img src="assets/icons/github.svg" width="62">   <h3>Helloimalemur</h3></a>
    </div>
    <br>
    <div class="fx-col m3">
<!--      <img src="/assets/atlas2.jpg" style="width:100%" onclick="onClick()" class="fx-hover-opacity" alt="">-->
      Koonts.net is an example implementation of Angular and Spring Boot Java using Hibernate to facilitate the connection of a Docker MySQL instance.
    </div>
    <br>

  </div>
  <br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->


  <br>
</div>



<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-4 fx-display-container fx-opacity-min">
  <div class="fx-display-middle">
    <span class="fx-xxlarge fx-text-white fx-wide">Contact Me</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="fx-content fx-container fx-padding-64" id="contact">

  <p class="fx-center"><em>I'd love your feedback!</em></p>

  <div class="fx-row fx-padding-32 fx-section">
    <div class="fx-col m4 fx-container">
      <img src="/assets/20221021_144304.jpg" class="fx-image fx-round" style="width:100%">
    </div>
    <div class="fx-col m8 fx-panel">
      <div class="fx-large fx-margin-bottom">
        <i class="fa fa-map-marker fa-fw fx-hover-text-black fx-xlarge fx-margin-right"></i> Atlanta, GA, USA<br>
        <i class="fa fa-phone fa-fw fx-hover-text-black fx-xlarge fx-margin-right"></i> Phone: by request<br>
        <i class="fa fa-envelope fa-fw fx-hover-text-black fx-xlarge fx-margin-right"></i> Email: James@Koonts.net<br>
      </div>
      <p>Swing by for a <i class="fa fa-coffee"></i>, or leave me a message: </p>
      <app-ticketform></app-ticketform>

    </div>
  </div>
</div>

<!-- Footer -->
<footer class="fx-center fx-black fx-padding-64 fx-opacity fx-hover-opacity-off ">
  <a href="#home" class="fx-button fx-light-grey"><i class="fa fa-arrow-up fx-margin-right"></i>To the top</a>
  <div class="fx-xlarge fx-section">
    <i class="fa fa-facebook-official fx-hover-opacity"></i>
    <i class="fa fa-instagram fx-hover-opacity"></i>
    <i class="fa fa-snapchat fx-hover-opacity"></i>
    <i class="fa fa-pinterest-p fx-hover-opacity"></i>
    <i class="fa fa-twitter fx-hover-opacity"></i>
    <i class="fa fa-linkedin fx-hover-opacity"></i>
  </div>
  <p>Powered by <a href="http://koonts.net" title="caffiene" target="_blank" class="fx-hover-text-green">caffiene</a></p>
</footer>

</body>

